@keyframes appear {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

#about-me-img {
    opacity: 0; /*opacity to 0 */
    animation: appear 2s forwards; /* This will apply the animation */
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*This will be the style of the body, the Header, the navigation, and content. */
body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #222;
    color: #fff;
    line-height: 1.6;
}

header {
    background-color: #333;
    padding: 20px;
}

header h1 {
    font-size: 36px;
    color: #fff;
}

nav ul {
    list-style: none;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
    font-weight: bold;
    transition: color 0.3s ease;
}

nav ul li a:hover {
    color: #ff6f61; /* Reddish color on hover */
}

.content {
    padding: 20px;
}

.content h2 {
    font-size: 24px;
    color: #ff6f61;
    margin-bottom: 10px;
}

.content p {
    font-size: 16px;
    margin-bottom: 20px;
}

footer {
    background-color: #333;
    color: #fff;
    padding: 20px;
    text-align: center;
    position: fixed;
    bottom: 0;
    width: 100%;
}

/*Allows for the little animation when you hover with your cursor */
a {
    transition: color 0.3s ease;
}

a:hover {
    color: #ff6f61;
}

/* Seperate style for the dark mode theme */
.dark {
    background-color: #000; 
    color: #ccc; 
}

.dark header {
    background-color: #111; 
}

.dark nav ul li a {
    color: #ccc; 
}

.dark footer {
    background-color: #111; 
    color: #ccc; 
}

.dark a:hover {
    color: #7f62ff; 
}




